<%= simple_form_for @movie do |f| %>

<p>
  <%= f.label :title %><br>
  <%= f.text_field :title %>
</p>

<p>
  <%= f.label :length %><br>
  <%= f.text_field :length %>
</p>

<p>
  <%= f.hidden_field :user_id , value: current_user.id %>
</p>

<p>
  <%= f.submit %>
</p>
<% end %>